{% extends 'home.html' %}

{% load static %}


{% block main %}
<!-- Breadcumbs start -->
<div class="e-breadcumb-wrap text-center">
    <h2 class="e-breadcumb-title">ورود به حساب کاربری</h2>
    <ul class="e-breadcumb-kist">
        <li>
            <a href="{% url 'home' %}">خانه </a>
        </li>
    </ul>
</div>
<!-- Product Category start -->
<div class="e-forgotpassword-wrap e-forgotpassword-cloth">
    <div class="container">
        <div class="row">
            <div class="col-12">                   
                <div class="e-fp-box">
                    <form method="post" action="http://127.0.0.1:8000/user/login/?next={{next}}">
                        {% csrf_token %}
                        <div class="row">
                            <p style=color:red>{{ login_form.errors.user }}</p>
                            <br>
                            <br>

                        </div>
                        <div class="row">
                            <label>ایمیل : </label>
                            {{ login_form.username }}
                            <label>رمز عبور : </label>
                            {{ login_form.password }}
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <button type="submit" class="e-btn">ورود</button>
                                </div>
                                <br>
                                <a href='{% url "user:forget_password" %}'>فراموشی رمزعبور</a>
                            </div>
                        </div>

                    </form>
                </div>        
            </div>           
        </div>
    </div>
</div>
{% endblock main %}